# 함수

In [2]:
#p17

In [9]:
#func:X->Y X입력하면 Y값. 예를 들면 입력이 하나 증가.
#나만의 함수 만들기
#in out 다 있는 경우
def func(X):
    Y=X+1
    return(Y)
a=1
b=func(a)
b=func(b)
b=func(b)
print(b)

4

In [8]:
#p120 func:?->? 입력 출력 다 없는 경우
def func_no_inout(a):
    a=1
    print(a)
    #return 없음

r=func_no_inout(1)
print(r)
#프로그램 내부에서 일이 안일어났다, 그냥 뱉어 냈을 뿐...출력없음

1
None

In [10]:
def func_no_in():
    a=1
    return a

r=func_no_in()
print(r)

1

In [62]:
#p122
#전역 변수vs 지역 변수
a=5 #전역(global)변수: 어떤 함수에 속해있지 않음

def func1():
    a=1 #지역(local) 변수: func1에 속해있음
    print("func1:",a,end="/")
    
def func2():
    a=2 
    print("func2:",a,end="/")
    
def func3():

    print("func3:",a,end="/")
    
def func4():
    global a #앞으로의 a는 전역변수가 아님
    a=4
    print("func4:",a,end="")

#func4() 여기 들어가면 a 글로벌화 되어 값이 4가 아닌 5가 된다.
print("소속 없는 곳:",a)

소속 없는 곳: 5

In [63]:
func1(),func2(),func3(),func4()

func1: 1/func2: 2/func3: 5/func4: 4

(None, None, None, None)

In [64]:
func3()#밖에서 가져다 쓴다. a가 안정해져있으니 전역변수를 가져다 쓰는 것.

func3: 4/

In [65]:
func4()

func4: 4

In [71]:
#p124 람다 lambda
#func6(3), lambda 함수에 3 넣음.
(lambda x : x**2)(3)

9

In [72]:
#위의 함수와 형태만 다르고 내용은 같다. 람다로는 한 줄에 표현 가능! 그래도 명료해
def func6(x):
    y=x**2
    return y
func6(3)

9

In [73]:
func7=lambda x : x**2
func7(3)
#이렇게도 할 수 있지만, 이름 짓기의 수고로움으로 하지 않는다.

9

In [74]:
(lambda x: x**3+1)(4)

65

In [76]:
def func8(x):
    y=x**3+1
    return y
func8(4)

65

In [77]:
#입력값이 여러 개의 열일 경우는 어떡해?
(lambda x,y,z: 2*x+3*y+4*z)(1,2,3)
#차근차근 쓰면 돼. 람다 함수 간단하네!

20

In [83]:
#p125 int 함수 정수화, float 함수 실수화, str 함수 문자열화
int(3.5), float("3") 
국번=(1234)
개인번호=(5678)
전화번호="010"+str(국번)+str(개인번호)
전화번호

'01012345678'

In [85]:
#p131 최소값, 최대값, 절대값, 길이, 합
min([1,2,-3])

-3

In [86]:
max([1,2,-3])

2

In [87]:
abs(1),abs(2),abs(-3)

(1, 2, 3)

In [88]:
len([1,2,-3])

3

In [89]:
sum([1,2,-3])

0

In [90]:
#map

In [91]:
#p135 ch 객체와 클래스
# 절차 지향적(함수 사용) 프로그래밍 - 우리가 여태 해왔던 것
#다품종 생산할 때 쓰임. 틀은 같은데 컨텐츠가 조금씩 다름.

In [92]:
#p136
붕어빵, 붕어 모양 빵 틀
단팥반죽-> 단팥붕어빵
크림반죽->크림붕어빵
초코반죽->초코붕어빵

In [106]:
#붕어빵이라는 빵 틀을 만들자. 틀은 class로
class 붕어빵():
    def __init__(self,내용물):
        self.내용물=내용물#속성(변수)
    def 나의소개(self):#메소드
        print("나는 "+self.내용물+"붕어빵 입니다.")

In [107]:
#객체를 생성한다
단팥붕어빵=붕어빵("단팥");크림붕어빵=붕어빵("크림");초코붕어빵=붕어빵("초코")

In [108]:
단팥붕어빵.나의소개()

나는 단팥붕어빵 입니다.

In [119]:
#붕어빵이라는 빵 틀을 만들자. 틀은 class로
class 붕어빵2():
    def __init__(self,내용물,크기,모양):
        self.내용물=내용물
        self.크기=크기
        self.모양=모양
    def 나의소개(self):
        print("나는 "+self.모양+" 모양의 "+self.크기+" "+self.내용물+"붕어빵 입니다.")

In [120]:
붕어빵_주문1=붕어빵2("치즈","큰","토종붕어")

In [121]:
붕어빵_주문1.나의소개()

나는 토종붕어 모양의 큰 치즈붕어빵 입니다.

In [ ]:
#p141 객체 초기화 def __init__(self)

In [123]:
붕어빵_주문1.내용물="단팥"

In [124]:
붕어빵_주문1.나의소개() #제품에서 특징을 불러온다

나는 토종붕어 모양의 큰 단팥붕어빵 입니다.

In [125]:
붕어빵_주문1.크기="작은"

In [127]:
붕어빵_주문1.나의소개()

나는 토종붕어 모양의 작은 단팥붕어빵 입니다.

In [1]:
#클래스 가지고옴
from sklearn.linear_model import LinearRegression
#객체화 하고
내회귀분석장치_서울= LinearRegression()
내회귀분석장치_서울.fit(X_서울,y_서울) # fit 훈련 함수
y_prediction_서울=내회귀분석장치_서울.predict(X_new)#predict 예측함수

내회귀분석장치_수원= LinearRegression()
내회귀분석장치_수원.fit(X_수원,y_수원) # fit 훈련 함수
y_prediction_수원=내회귀분석장치_수원.predict(X_new)
#predict 예측함수
#수원에서 차를 살 때, X_수원(스펙)에 따라 y_수원(가격)이 달라진다.
#y_prediction_수원(예측값)이 달라진다. 이것으로 가격비교하면 현장에서 눈탱이 맞을 걱정 덜 수 있다.

NameError: name 'X_서울' is not defined

In [129]:
#p143

In [130]:
#클래스 변수

In [131]:
class 붕어빵3():
    total_count=0 #클래스 속성 : 카운트를 모든 개체와 공유하겠습니다.
    def __init__(self,내용물,크기,모양):
        self.내용물=내용물
        self.크기=크기
        self.모양=모양
        붕어빵3.total_count+=1 #왜 얘만 모양이 달라요? self 모양 아니야???
    def 나의소개(self):
        print("나는 "+self.모양+" 모양의 "+self.크기+" "+self.내용물+"붕어빵 입니다.")

In [132]:
만든붕어빵1=붕어빵3("단팥","작은","버들붕어")
print(만든붕어빵1.total_count)
만든붕어빵2=붕어빵3("크림","큰","토종붕어")
print(만든붕어빵1.total_count)
만든붕어빵3=붕어빵3("초콜릿","작은","비단붕어")
print(만든붕어빵1.total_count)

1
2
3

In [136]:
class 붕어빵4():
   
    def __init__(self,내용물,크기,모양):
        self.total_count=0 #인스턴스(객체) 속성: 카운트는 객체에만 반영하겠습니다.
        self.내용물=내용물
        self.크기=크기
        self.모양=모양
        self.total_count+=1
    def 나의소개(self):
        print("나는 "+self.모양+" 모양의 "+self.크기+" "+self.내용물+"붕어빵 입니다.")

In [138]:
만든붕어빵1=붕어빵4("단팥","작은","버들붕어")
print(만든붕어빵1.total_count)
만든붕어빵2=붕어빵4("크림","큰","토종붕어")
print(만든붕어빵1.total_count)
만든붕어빵3=붕어빵4("초콜릿","작은","비단붕어")
print(만든붕어빵1.total_count)

1
1
1

In [139]:
#왜 결과값에 변경 없어? 만든 붕어빵에 왜 카운트 안돼??
#만든붕어빵1,2,3 별개로 보는거야. 클래스 전체 개수 증가된다고 보는 것 보다\인스턴스.

In [140]:
#p145 인스턴스 메소드, 클래스 메소드, 정적 메소드

In [155]:

class 붕어빵5():
    count=0 #클래스 속성
    def __init__(self,내용물):
        self.내용물=내용물
        
    def 나의소개(self): #인스턴스 메소드 (가장 기본, 객체 별로 속성 따로)
        print("나는 "+self.내용물+"붕어빵이 좋아.")
        
        @classmethod #특별한 지시자임을 나타내줍니다. 없으면 에러남
        #개체가 아닌(self가 아닌)아무거나 입력가능 
        def count_instance(myclass):
            print("여태까지 만든 객체의 개수:",myclass.count)

In [156]:
붕어빵5.count_instance()

AttributeError: type object '붕어빵5' has no attribute 'count_instance'

In [170]:
#정적메소드

class 붕어빵():
    def __init__(self,내용물):
        self.내용물=내용물#속성(변수)
    def 나의소개(self):#메소드
        print("나는 "+self.내용물+"붕어빵 입니다.")
        
        @staticmethod #혼자서 고정된 일을 할 때 
        def 상점소개():
            print("이 붕어빵은 우리집에서 만들었습니다.")

In [171]:
붕어빵6.상점소개()

AttributeError: type object '붕어빵6' has no attribute '상점소개'

In [163]:
#p154 클래스메소드 상속

In [176]:
class 붕어빵_부모():
    def __init__(self,내용물):
        self.내용물=내용물
    def 나의소개(self):
        print("나는 "+self.내용물+"붕어빵 입니다.")

In [177]:
단팥붕어빵=붕어빵_부모("단팥")
단팥붕어빵.나의소개()

나는 단팥붕어빵 입니다.

In [192]:
class 붕어빵_자식(붕어빵_부모): #상속하는 법!!요기 붕어빵_부모 자리에 다른 클래스 넣으면 됨
    def 인사(self):
        print("안녕하세요")

In [193]:
자식붕어빵= 붕어빵_자식("치즈")
자식붕어빵.인사()

안녕하세요

In [194]:
자식붕어빵.나의소개() #붕어빵_부모의 기능을 물려받음

나는 치즈붕어빵 입니다.

In [195]:
# p159 - 문자열 관련 여러가지

In [201]:
"10 123".split(" ")

['10', '123']

In [206]:
"__강_남".strip("_")

'강_남'

In [209]:
"강_남".replace("_","")

'강남'

In [210]:
# p165 문자의 연결

In [211]:
name=["정","재은"]
" ".join(name)

'정 재은'

In [215]:
원문 = """이재명 더불어민주당 대선 후보의 지지도가 한 주 만에 포인트 상승 로 조사됐다 의 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 내 격차다"""

단어장=원문.split(" ")
단어장

['이재명',
 '더불어민주당',
 '대선',
 '후보의',
 '지지도가',
 '한',
 '주',
 '만에',
 '포인트',
 '상승',
 '로',
 '조사됐다',
 '의',
 '지지를',
 '받은',
 '윤석열',
 '국민의힘',
 '대선',
 '후보와는',
 '오차범위',
 '내',
 '격차다']

In [233]:
새_단어장=[] #빈 리스트 만들고 누적해 나가는 법.
for word in 단어장:
    if len(word)<=1:
        continue
    새_단어장.append(word)
새_단어장

['격차다']

In [221]:
새_단어장2=[]
for word in 단어장:
    if len(word)>1:
        새_단어장2.append(word)
        
새_단어장2

['이재명',
 '더불어민주당',
 '대선',
 '후보의',
 '지지도가',
 '만에',
 '포인트',
 '상승',
 '조사됐다',
 '지지를',
 '받은',
 '윤석열',
 '국민의힘',
 '대선',
 '후보와는',
 '오차범위',
 '격차다']

In [228]:
" ".join(새_단어장2)
#다시 합치기

'이재명 더불어민주당 대선 후보의 지지도가 만에 포인트 상승 조사됐다 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 격차다'

In [229]:
#167-문자열 찾기
새_단어장[14]
뉴스기사=" ".join(새_단어장2)
뉴스기사.find("후보")

14

In [230]:
index_후보=뉴스기사.find("후보")
index_후보

14

In [231]:
index_후보=뉴스기사.find("후보",index_후보+1) #찾고 나면 또 찾으라는 의미+1
index_후보

57

In [232]:
index_후보=뉴스기사.find("후보",index_후보+1)
index_후보 #더이상 없으면 음수 나옵니다.

-1

In [234]:
뉴스기사

'이재명 더불어민주당 대선 후보의 지지도가 만에 포인트 상승 조사됐다 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 격차다'

In [235]:
뉴스기사.replace('후보','hubo')

'이재명 더불어민주당 대선 hubo의 지지도가 만에 포인트 상승 조사됐다 지지를 받은 윤석열 국민의힘 대선 hubo와는 오차범위 격차다'

In [236]:
뉴스기사.replace('후보','hubo',1)

'이재명 더불어민주당 대선 hubo의 지지도가 만에 포인트 상승 조사됐다 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 격차다'

In [237]:
뉴스기사.replace('후보','hubo',2)

'이재명 더불어민주당 대선 hubo의 지지도가 만에 포인트 상승 조사됐다 지지를 받은 윤석열 국민의힘 대선 hubo와는 오차범위 격차다'

In [238]:
#위처럼 단어를 하나씩 바꿀 수도 있다.

In [245]:
# p171 isalpha 문자로 이루어졌는가 isdigit 숫자로 이루어졌는가 

"banana~1".isalpha(), "banana".isalpha()

(False, True)

In [244]:
"01012345678".isdigit(), "010 1234 5678".isdigit()

(True, False)

In [246]:
"class".isalnum() #isalnum 알파벳이나 숫자로 이루어졌는지

True

In [247]:
'newyork'.islower() #소문자로 이루어졌는가

True

In [248]:
"NEWYORK".isupper()

True

In [250]:
a='Newyork'
if a.islower()==False:
    a=a.lower()
a

'newyork'

In [256]:
# p179 모듈

import my_module_1
my_module_1.내변수

1234

In [257]:
my_module_1.내함수()

내함수입니다

In [258]:
# p185
from my_module_1 import 내변수 #앞의 번거로운 my_module_1.을 안써도 된다!

In [259]:
내변수

1234

In [261]:
from my_module_1 import 내함수

In [263]:
내함수()

내함수입니다

In [264]:
import my_module_1 as mm1 #as ~와 같다 약어로 만들 수 있다.

In [265]:
mm1.내변수

1234

In [268]:
# p208 패키지(폴더)
import package1.my_module_2 as mm2

In [269]:
mm2.내변수2

12345678

In [271]:
# p214 ch11 데이터 분석을 위한 패키지
# EDA(Exploratory Dada Analysis)=탐색적 데이터 분석
#1. Numpy: 속도는 c언어처럼 빠르게, 코딩은 파이썬처럼 쉽게.
# p237 
#2. Pandas(pannel:표(정형데이터) 주로 다룬다.)
# p283 ch12 데이터 시각화 
#3. Mataplotlib

#엑셀로는 빅데이터를 다룰 수 없음

In [272]:
#!pip install pandas (판다스 설치하는 법)

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [275]:
import pandas as pd

In [281]:
pd.read_csv("titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [283]:
df=pd.read_csv("titanic.csv")
df[5:10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [284]:
import numpy as np

In [285]:
import matplotlib.pyplot as plt

In [286]:
원문

'이재명 더불어민주당 대선 후보의 지지도가 한 주 만에 포인트 상승 로 조사됐다 의 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 내 격차다'

In [290]:
원문1=원문.split(" ")

In [292]:
new=[]
for 단어 in 원문1:
    if len(단어)<=1:
        continue
    new.append(단어)

In [295]:
" ".join(new)

'이재명 더불어민주당 대선 후보의 지지도가 만에 포인트 상승 조사됐다 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 격차다'

In [298]:
원문

'이재명 더불어민주당 대선 후보의 지지도가 한 주 만에 포인트 상승 로 조사됐다 의 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 내 격차다'

In [299]:
원문1.find("후보")

AttributeError: 'list' object has no attribute 'find'

In [300]:
뉴스기사.find("후보")

14

In [302]:
새_단어장

['격차다']

In [303]:
뉴스기사

'이재명 더불어민주당 대선 후보의 지지도가 만에 포인트 상승 조사됐다 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 격차다'

In [304]:
원문

'이재명 더불어민주당 대선 후보의 지지도가 한 주 만에 포인트 상승 로 조사됐다 의 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 내 격차다'

In [305]:
뉴스기사

'이재명 더불어민주당 대선 후보의 지지도가 만에 포인트 상승 조사됐다 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 격차다'

In [329]:
원문='이재명 더불어민주당 대선 후보의 지지도가 한 주 만에 포인트 상승 로 조사됐다 의 지지를 받은 윤석열 국민의힘 대선 후보와는 오차범위 내 격차다'
원문1=원문.split(" ")
box=[]
for word in 원문1:
    if len(word)<=1:
        continue
    box.append(word)
" ".join(box)
다시만들기="".join(box) 
#여기서 왜 또 조인 해줘야 하는지 모르겠다. 
#조인 안하고 그냥 box에서 find 하면 리스트라고 못한다는 말이 뜬다.
다시만들기.find("후보")

index_후보=다시만들기.find("후보")
index_후보=다시만들기.find("후보",index_후보+1)

In [331]:
box

['이재명',
 '더불어민주당',
 '대선',
 '후보의',
 '지지도가',
 '만에',
 '포인트',
 '상승',
 '조사됐다',
 '지지를',
 '받은',
 '윤석열',
 '국민의힘',
 '대선',
 '후보와는',
 '오차범위',
 '격차다']

In [324]:
index_후보=다시만들기.find("후보")
index_후보

11

In [326]:
index_후보=다시만들기.find("후보",index_후보+1)
index_후보

-1

In [328]:
import my_module_1 as FF
FF.내함수()

내함수입니다

In [ ]:
from