In [1]:
start_num = int(input("시작정수"))
end_num = int(input("종료정수"))

시작정수1
종료정수10

In [7]:
# 1 2 3 4 5 6 7 8 9 10

11

In [7]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
a = list(range(1,11))

In [4]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
sum(a)

55

In [8]:
sum(list(range(1,11)))

55

In [9]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 더해질값:   1,   2,   3,   4, 5, 6, 7, 8, 9, 10
# 누적값  : 0+1, 1+2, 3+3, 6+4,

In [20]:
누적값 = 0
for 더해질값 in range(1,11):
    누적값 = 누적값 + 더해질값
    print(누적값, end="/")

1/3/6/10/15/21/28/36/45/55/

In [15]:
누적값 = 0
for 더해질값 in range(1,11):
    누적값 = 누적값 + 더해질값
print(누적값, end = " ")

55

In [21]:
print(1, 2, 3)

1 2 3

In [23]:
print(1, 2, 3, sep=", ")

1, 2, 3

In [25]:
start_num = int(input("시작정수"))
end_num = int(input("종료정수"))

누적값 = 0
for 더해질값 in range(1,11):
    누적값 = 누적값 + 더해질값
print(start_num, "부터", end_num,"까지의 누적 값:",누적값, end = " ")

시작정수1
종료정수10
1 부터 10 까지의 누적 값: 55

In [144]:
start_num, end_num = int(input("시작정수, 종료정수").split())
start_num, end_num

시작정수, 종료정수1 10

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [34]:
start_num, end_num = map(int, input("시작정수, 종료정수").split() )
start_num, end_num

시작정수, 종료정수1 10

(1, 10)

In [38]:
a = [ x for x in range(0,61)]
print(a[::-1], end = "") ; print("발사!")

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]발사!

In [40]:
a=list(range(0,61)) 
print(a[::-1]);print("발사!")

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
발사!

In [42]:
sec=61

while sec!=0:
    sec = sec-1
    print(sec,end=" ")
    
print("발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 발사!

In [45]:
sec=60

while sec>=0:
    print(sec,end=" ")
    sec = sec-1
    
print("발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 발사!

In [46]:
for i in range(60, -1, -1):
    print(i, end = " ")
print('\n\n발사!')

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

발사!

In [57]:
for a in range(0,61) :
    a = 60 - a
    print(a,end = " ")
print("\n\n발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

발사!

In [47]:
range(3)

range(0, 3)

In [48]:
list(range(3))

[0, 1, 2]

In [53]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [56]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
import time

time_start = time.time()

for i in range(60, -1, -1):
    print(i, end = " ")
    time.sleep(0.1)
    
time_end = time.time()
    
print('\n\n발사!')
print("소요시간:", time_end - time_start)

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

발사!
소요시간: 6.126452207565308

In [68]:
sec=60

while sec>=0:
    print(sec,end=" ")
    sec = sec-1
    
print("발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 발사!

In [70]:
sec=60

while True:
    print(sec,end=" ")
    sec = sec-1
    if sec < 0: 
        break
    
print("발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 발사!

In [73]:
temper_data = [ 27, 28, 29, 30, 28, -300, 26, 24]
for a in temper_data:
    if a == -300:
        break
    print(a, end =  " ")

27 28 29 30 28

In [74]:
temper_data = [ 27, 28, 0, 29, 0, 30, 0, 28, 26, 24]
for a in temper_data:
    if a == 0:
        continue
    print(a, end =  " ")

27 28 29 30 28 26 24

In [78]:
for i in range(3):
    print(i, end =  " ")

0 1 2

In [82]:
for 행 in range(3):
    for 열 in range(4):
        print(0, end =  " ")
    print()

0 0 0 0
0 0 0 0
0 0 0 0

In [83]:
for a in range(1,10):
    for b in range(1,10):
        print (a*b,end=" ")
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
# 머신 러닝: 정형 데이터: 표
# 딥러닝: 비정형 데이터: 표x (이미지, 글자, 시계열)

In [84]:
for 행 in range(2,9): # 2, 3, 4, 5, 6, 7, 8
    for 열 in range(1, 행): # range(1, 2) => 1 #range(1, 8)
        print(열, end="")
    별 = "*"*(8-행)
    print(별)

1******
12*****
123****
1234***
12345**
123456*
1234567

In [85]:
for 행 in range(1,8):
    for 열 in range(1,8):
        if 행>=열 :
            print(열, end="")
        elif 열>행 : 
            print("*",end="")
    print()

1******
12*****
123****
1234***
12345**
123456*
1234567

In [86]:
for i in range(1,8):
    
    for j in range(1,8):      
        print(j,end="")
        if j>=i:
            print("*"*(7-j),end="")
            break
    print()

1******
12*****
123****
1234***
12345**
123456*
1234567

In [88]:
val_list = []
while True:
    in_val = int(input("양수 입력하세요:"))
    if in_val <= 0:
        break
    val_list.append(in_val)
    
print("평균:",sum(val_list)/len(val_list),
      "최소값:", min(val_list),
      "최대값:", max(val_list))

양수 입력하세요:1
양수 입력하세요:2
양수 입력하세요:3
양수 입력하세요:-1
평균: 2.0 최소값: 1 최대값: 3

In [89]:
for 행 in range(10):
    print(" "*행+"*"*10)

**********
 **********
  **********
   **********
    **********
     **********
      **********
       **********
        **********
         **********

In [90]:
for i in range(1,11):
    print(" "*(i-1),end="")
    
    for j in range(1,11):      
        print("*",end="")
        
    print()

**********
 **********
  **********
   **********
    **********
     **********
      **********
       **********
        **********
         **********

In [91]:
for i in range(1, 11): 
    print(' '*i, end='') 
    for j in range(1, 11): 
        print('*', end='') 
    print()

 **********
  **********
   **********
    **********
     **********
      **********
       **********
        **********
         **********
          **********

In [94]:
for 행 in range(0,10):
    for 열 in range(0,10):
        if 행>열:
            print(" ", end="")
        elif 열<=행: 
            print("*"*10,end="")
    print()

**********
 **********
  **********
   **********
    **********
     **********
      **********
       **********
        **********
         **********

In [97]:
for i in range(1, 11):
    print(" "*(i), end = "")
    
    for j in range(1, 11):
        print("*", end="") 
    print()

 **********
  **********
   **********
    **********
     **********
      **********
       **********
        **********
         **********
          **********

In [98]:
count = 0 
for a in range(1, 101):
    for b in range(1, 101):
        for c in range(1, 101):
            if a**2 + b**2 == c**2:
                count +=1
print(count, "개")

104 개

In [101]:
new_list = []
for a in range(1,101):
    for b in range(1,101):
        for c in range(1,101):
            if a*a+b*b==c*c :
                new_list.append([a, b, c])

len(new_list)

104

In [103]:
p_OK= 0
for a in range(1, 101):
    for b in range(1, 101):
        for c in range(1, 101):
            if (a * a + b * b) == (c * c):
                p_OK += 1                
print('만족하는 경우의 수:', p_OK)

만족하는 경우의 수: 104

In [105]:
n=0
for a in range(1, 101):
    for b in range(1, 101):
        for c in range(1, 101):
            if a**2+b**2 == c**2:
                n = n + 1
print(n)

104

In [106]:
n = 0

In [107]:
n = n + 1
n

1

In [108]:
n += 1
n

2

In [109]:
4*4*4

64

In [ ]:
'''
4*4 : 6
4*4*4 : 16 *4 : 6*4 :4
'''

In [ ]:
3* ... * 3

In [110]:
5/2

2.5

In [111]:
5%2

1

In [112]:
5%3

2

In [113]:
3**2016

75240126116825753221233832298262396639265375288188565708651873727659316520817250577669105743539835542441748405719721496784672829847339411482640331635962471604046816683179202537203658470339918124510069244969912802751148015425233205746765755109201209651034350947042481253600880772182962875697237910276637176015640304176439468469994403023813809003504183223641268835051495169544648275835669356083783047640627376370660805245845054926630760625683709188932288243039426675980955031819238419562838818589032988943800573550586386735767268476811040987375451974296972636264910543967836303011328258824090074981412016036286341392348485617137592641583663340608713413771378665834274439519423132499479574601299330297146135341376162816705809177545497126887165985972019880662544358000848577839282071007914393088419232281592610333390782477687986772097174308357584036415148341469803839769601901550004115682646292980964188894247717513015947139050609590245525418035211826776013910286721

In [114]:
for a in range(1,2017):
    a=(3**a)%10
print(a)

1

In [119]:
mul = 1
for a in range(1,2017):
    mul=(3*mul)%10
print(mul)

1

In [116]:
(1*3)%10

3

In [117]:
(3*3)%10

9

In [118]:
(9*3)%10

7

In [ ]:
3*x + 1 = 10
x = 3

In [ ]:
3*10 + 1 = 10 #(31-10 : 차21)

In [ ]:
3*9 + 1 = 10 #(28-10 : 차18)

In [ ]:
3*6 + 1 = 10 #(19-10 : 차 9)

In [ ]:
3*2 + 1 = 10 #(7-10 : 차-3)

In [ ]:
3*3.1 + 1 = 10 #(10.3-10 : 차0.3)

In [ ]:
3*3.05 + 1 = 10 #(10.15-10 : 차0.15)

In [120]:
i=1
결과 = 1
while i<2017:
    결과 = 결과*3
    i=i+1
마지막자리수 = str(결과)[-1:]
print(마지막자리수)

1

In [121]:
n = 0
n += 1
n += 1
n

2

In [123]:
n = 1
n *= 2
n *= 2
n

4

In [125]:
b=1
for i in range(0,2016):
    b*=3
print(b%10)

75240126116825753221233832298262396639265375288188565708651873727659316520817250577669105743539835542441748405719721496784672829847339411482640331635962471604046816683179202537203658470339918124510069244969912802751148015425233205746765755109201209651034350947042481253600880772182962875697237910276637176015640304176439468469994403023813809003504183223641268835051495169544648275835669356083783047640627376370660805245845054926630760625683709188932288243039426675980955031819238419562838818589032988943800573550586386735767268476811040987375451974296972636264910543967836303011328258824090074981412016036286341392348485617137592641583663340608713413771378665834274439519423132499479574601299330297146135341376162816705809177545497126887165985972019880662544358000848577839282071007914393088419232281592610333390782477687986772097174308357584036415148341469803839769601901550004115682646292980964188894247717513015947139050609590245525418035211826776013910286721

In [126]:
숫자 = 682
횟수 = 0
while 숫자!=1:
    if 숫자%2 ==1:
        숫자 = (숫자*3+1)/2
    elif 숫자%2 ==0:
        숫자 = 숫자/2
    else:
        print("오류")
    횟수 = 횟수+1
print(횟수)

11

In [128]:
c = 0
e = 682

while e != 1:
    if e%2==0:
        e/=2
    #    c+=1
    else:
        e=(e*3+1)/2
    #    c+=1
    c+=1

print(c)

11

In [129]:
a = 682
count = 0
while True:

    if a%2 == 0:
        a = a/2
        
    elif a%2 != 0:
        a = (a*3+1)/2
        
    count+=1
    
    if a == 1:
        break
        
print(count)

11

In [130]:
b=0
a = int(input('입력:'))
while a!=1:
    if a%2 == 0:
        a=a/2
    elif a%2 == 1:
        a=(a*3+1)/2
    b+=1
    a==1
b

입력:682

11

In [ ]:
10 1+0
12 1+2
14 1+4

In [139]:
총합 = 0
for num in range(1, 101):
    백의자리 = int(num / 100)
    십의자리 = int(num / 10)%10
    일의자리 = num % 10
    총합 += 십의자리 + 일의자리 + 백의자리
총합

901

In [143]:
b=0
c=0
for n in range(1,101):
    if n < 10:
        b=n%10
    elif 10 <= n <= 99:
        b=int(n/10) + n%10
    else:
        b=int(n/100) + int(n/10)%10 + n%10
    c=b+c
c

901

In [136]:
sum = 0

for i in range(1,101):
    sum = sum + int(i/100)+int(i/10)%10+i%10
    
print(sum)

911

In [141]:
i = 123
int(i/100),int(i/10)%10,i%10

(1, 2, 3)

In [142]:
b=0
c=0
for n in range(1,101):
    if n < 10:
        b=n%10
    elif 10 <= n <= 99:
        b=int(n/10) + n%10
    else:
        b=int(n/100) + int(n/10) + n%10
    c=b+c
c

911